<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"> 
    <head>  
        <title>Password Express</title>  
    </head>  
    <body>  
       <center>
       <b>
       <left>
            <a href="/about">About </a>
        </left>
        <br/> <br/>
        <left>
            <a href="/contacts">Contacts </a>
         </left>
         <br/> <br/>
       <left>
            <a href="/forgot-password">Reset Password </a>
         </left>
         </b>
         </center>

    </body>  
</html>  
